@media (max-width: 1004px) {
    .contenedor-opiniones,
    .contenedor-opiniones2 {
        height: auto; 
    }

    .card-opiniones {
        width: 200px; 
        height: auto; 
        margin: 10px;
    }
}