/* Header */
.header-index {
    position: sticky;
    top: 0;
    background-image: url('../assets/imagenes/sunset.jpg');
    background-size: cover;
    background-position: 80%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    h1 {
        font-size: 3.75rem;
        padding-left: 0.9375rem;
    }

    .navbar {
        display: flex;
        gap: 1.875rem;
        padding-right: 15px;

        li {
            color: map-get($colores, color1);


            a {
                text-decoration: none;
                list-style: none;
            }
        }
    }
}

